doctype
html(lang='ja')
  head
    link(rel='stylesheet', href='./index.scss')
    link(rel="stylesheet", href="https://use.typekit.net/myi6uge.css")
    title 404

  body
    canvas
    script(src='./scripts/index.ts')

